{% extends 'base.html.twig' %}

{% block title %}Crear Tarea{% endblock %}

{% block body %}
<div class="card" style="width: 92%; margin: auto;margin-top: 10px;">
    <div class="card-body">
    <div class="example-wrapper row" style="text-align: center;">
            <h2>Добавить трудозатраты</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}


